# Visual Studio
.vs/
*.user
*.suo

# Build artifacts
bin/
obj/

# User secrets
secrets.json

# appsettings user-specific
ContestParticipationSystem/appsettings.json

# Rider
.idea/

# node
node_modules/

# Logs
*.log

# npm
package-lock.json

# Local env files
.env

# EF Core
Migrations/**/snapshot\
